@charset "utf-8";

body {
    background-color: green;
}
header {
    margin: 0 auto 20px;
}
h1 {
    width: 500px;
    margin: 0px auto;
}
ul {
    width: 404px;
    margin: 0px auto;
}
.flex ul {
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    gap: 1px;
    width: 100%;
    padding: 0;
    margin: 10px auto 0;
}
li a {
    position: relative;
    display: inline-block;
    width: fit-content;
}
li a img {
    display: block;
}
li a::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 0px black;
    pointer-events: none;
}